<h1> Search for alumni in database</h1>
<p><%= link_to "Back", home_path %></p>

<form id="searchbox" action="">
    <input id="search" type="text" placeholder="Serach iXers">
    <input id="submit" type="submit" value="Search">
</form>

<h2>Suggested iXers</h2>
