<h1>Forums#index</h1>
<p>Find me in app/views/forums/index.html.erb</p>

<%= link_to "New Forum", new_forum_path %>

<ul>
<% @forum.each do |forum| %>
	<li> <%= link_to forum.name, forum_path(forum) %> </li>
<% end %>
