<p><strong><%= comment.user.firstname %></strong>: <%= comment.body %></p>
<%= time_ago_in_words(comment.created_at) %>
<%= link_to 'Destroy Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>