
    <div class="welcome-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="homepage-heading">
                    <br><br><br>
                        <h1>iX Alumni Database</h1>
                        <hr class="small">
                        <span class="subheading">Stay Connected with Fellow iXers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>