/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require clean-blog
 *= require_self
 */

.form {
	padding: 100px;

 }

 #searchbox
 {          
     width: 500px;
     height: 35px;
     padding: 10px;
     margin: 100px auto 50px;
    
 }

 .header {
 	width:100%;
 	height: 75px;
 	background-color: blue;
 }

.post-title-profile {
	text-align: center;
}

.post-subtitle-profile {
	text-align: center;
}

.welcome-header {
	background-image: url('images/cape_town_overview.jpg');
	height: 100vh;
	text-align: center;
}

.homepage-heading {
padding: 100px 0 50px;
  color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.profile {
	text-align: center;
}